    <div class = "Footer" style=  "text-align:center" id="Footer">
          <p class="FooterText"> 822 Plainfield Rd,<br> Joliet, IL 60435</p>
          <p class="FooterText">Contact Us: <a href = "tel:8155798940" style="font-size: x-large;">(815) 579 8940</a></p>
          <p class = "FooterText"> Follow us<br> <a href = "https://www.instagram.com/quality.studios/?hl=en"class="SocialMedia">Instagram</a> 
          <img src="/img/insta-logo.png" class="img"><br>
          <a href = "https://www.facebook.com/quality.studioss/" class="SocialMedia">Facebook</a>
           <img src="/img/facebook-logo.png" class="img"> </p>
          <a href = "https://www.google.com/maps/dir//Quality+Studios,+822+Plainfield+Rd,+Joliet,+IL+60435/@41.5388837,-88.13847,13z/data=!4m9!4m8!1m0!1m5!1m1!1s0x880e61ce2c9c9161:0x1e651a799cdded3b!2m2!1d-88.1033459!2d41.5389638!3e0?hl=en" class="SocialMedia"> Get Directions<br></a>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2986.402158072174!2d-88.1056392842565!3d41.53888897925043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e61ce2c9c9161%3A0x1e651a799cdded3b!2sQuality%20Studios!5e0!3m2!1sen!2sus!4v1636306578057!5m2!1sen!2sus" 
    width="500" height="300" style="border:0;" allowfullscreen="true"  loading="lazy"></iframe>
    </div>