<body>
    <header>
        <h2>Quality Studios Barbershop</h2>
        <h3>About</h3>
    </header>
    {{> navBar}}
    <div style="text-align: center; width:100%">
    <div style= "display: inline-block; vertical-align:top; width:100%">
        <div class="AboutImages" style = "float: left;">
        <div class = "AboutImage" style="margin-right: 50%;">
        <img src="/img/About-imageL.png" height="100%" width="300px">
        </div>
        </div>
        <div class="AboutText">
        <p>
            JOLIET’S ONE STOP SHOP‼️
           </p>
           <p>Located at 822 Plainfield road Joliet IL </p>
            <ul style="text-align: center; list-style-position:inside; list-style-type:none">
                <li>
                    Nails
                </li>
                <li>
                    Lashes
                </li>
                <li>
                    Barbers
                </li>
                <li>
                    And More!
                </li>
            </ul>

         <p>
              Schedule an appointment with one of our staff on the website <br>Or give us a call at (815) 579 8940
        </p>
        
        <p>
            Standard Buisness Hours:
            <ul style="text-align: center; list-style-position:inside; list-style-type:none">
                <li>
                    Monday: 11AM - 7PM
                </li>
                <li>
                    Tuesday: 11AM - 7PM
                </li>
                <li>
                    &nbsp; Wednesday: 11AM - 7PM
                </li>
                <li>
                    Thursday: 11AM - 7PM
                </li>
                <li>
                    Friday: 11AM - 7PM
                </li>
                <li>
                    Saturday: 11AM - 7PM
                </li>
                <li>
                    Sunday: 11AM - 4PM
                </li>
            </ul>
        </p>
        <p> (Note these hours are subject to change without prior notice)</p>
        
    </div>
    <div class="AboutImages" style="float: right;">
    <div class = "AboutImage">
    <img src="/img/About-imageR.png" height="100%" width="300px" >
    </div>
    </div>

    </div>
    </div>
    <div style="text-align: center; background-color: rgb(139, 134, 134,0.3);">
    <h1>About This Site</h1>
        
        
        <p style="text-align: left; display: inline-block">
            This website allows you to schedule appointments with one of our staff.<br><br>
            Feel confident in your purchase thanks to the reviews available on this website<br><br>
            Check the Staff tab to see the variety of Staff specialties available<br><br>
            Keep up to date with Information about the Shop on our Socials page
            Login to the website and leave your own Reviews on your experience
           <br>
            
        </p>
        <br><br>
        <h2 style="text-align: left; display: inline-block">Contributors</h2><br>
        <p style="text-align: left; display: inline-block">Malik, Jahi, Brennan, Simeon</p>
        </div>
        {{> footer}}
</body>