<body>
    <header>
        <h2>Quality Studios Barbershop</h2>
        <h3>Login</h3>
    </header>
    <div>
        <form id="login" action="/login" method="POST">
            <label for="email"><b>Email:</b></label><br />
            <input type="email" id="email" name="email" required><br />
            <label for="password"><b>Password:</b></label><br />
            <input type="password" id="password" name="password" required><br />
            <button type="submit">Login</button>
        </form>
    </div>
    <div>
        <a href="/register">Register</a>
    </div>

</body>

