<body>
    <header>
        <h2>Quality Studios Barbershop</h2>
        <h3>Map</h3>
    </header>
    {{> navBar}}
    <div style = "text-align: center;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2986.402158072174!2d-88.1056392842565!3d41.53888897925043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e61ce2c9c9161%3A0x1e651a799cdded3b!2sQuality%20Studios!5e0!3m2!1sen!2sus!4v1636306578057!5m2!1sen!2sus" 
    width="600" height="450" style="border:0;" allowfullscreen=""  loading="lazy"></iframe>
    </div>
    {{> footer}}
</body>