<body>
    <header>
        <h2>Quality Studios Barbershop</h2>
        <h3>Portfolio</h3>
    </header>
    {{> navBar}}
    <div style="text-align: center;">
        <br>
        <img src="/img/1.jfif" width= 50%  height= auto alt="1">
        <br>
        <img src="/img/2.jfif" width= 50%  height= auto alt="2">
        <br>
        <img src="/img/3.jfif" width= 50%  height= auto alt="3">
        <br>
        <img src="/img/4.jfif" width= 50%  height= auto alt="4">
        <br>
        <img src="/img/5.jfif" width= 50%  height= auto alt="5">
    </div>

    {{> footer}}
</body>