<body>
    <header>
        <h2>Quality Studios Barbershop</h2>
        <h3>Register Staff member</h3>
    </header>
    <div>
        <form action="/staffRegister" method="POST">
            <label for="name"><b>Name:</b></label><br />
            <input type="text" id="name" name="name" required>
            <label for="booksy"><b>Booksy:</b></label><br />
            <input type="text" id="booksy" name="booksy" >
            <label for="site"><b>Site:</b></label><br />
            <input type="text" id="site" name="site" >
            <label for="link"><b>Link:</b></label><br />
            <input type="text" id="link" name="link" >
            <label for="number"><b>Number:</b></label><br />
            <input type="text" id="number" name="number" >
            <label for="speciality"><b>Speciality:</b></label><br />
            <input type="text" id="speciality" name="speciality" >
            <label for="instagram"><b>Instagram:</b></label><br />
            <input type="text" id="instagram" name="instagram" >

        <button type="submit">Register</button>
        </form>
    <a href="/login">Login</a>
    </div>

</body>